# Logs
logs/
*.log

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Local development
config.local.sh
*.local.*

# Local development
config.local.json 